* {

box-sizing:border-box;

}


body {

margin:0;

font-family:Arial,sans-serif;

background:#f4f6f9;

}




.dashboard {


min-height:100vh;


}




/* MAIN CONTENT */

.dashboard-content {


margin-left:254px;


padding-top:100px;


padding-left:25px;


padding-right:25px;



}




/* MOBILE */

@media(max-width:768px){



.dashboard-content{


margin-left:0;


padding-top:130px;


padding-left:15px;


padding-right:15px;


}



}